.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  width: 250px;
  border-width: 3px;
  height: 20px;
  text-align: center;
}

fieldset {
  margin-top: 1em;
  padding-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
