.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #608fdb;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  width: 250px;
  border-width: 3px;
  height: 20px;
  text-align: center;
  -webkit-border-radius: 10px;
  font-size: 10pt;
}

fieldset {
  margin-top: 1em;
  padding-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  border-width: 3px;
  border-radius: 10px;
  font-weight: bold;
}

p {
  font-weight: normal;
}

#mileage {
  margin-top: 1em;
}

body {
  background-color: #dee2e8;
}

#map {
  margin-top: 1em;
}
